* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial, Helvetica, sans-serif';
}

body {
    line-height: 1.6;
}

header {
    box-shadow: 0 2px 5x rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2 rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;

}

#hero {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Portada.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cta-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

.cta-button:hover {
    background-color: #fa5a5a;
}

#propiedades {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#propiedades h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.propiedades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem
}
.propiedad-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.propiedad-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
} 
.propiedad-card h3 {
    padding: 1rem;
    color: #333;
}

.descripcion {
    padding: .5rem 1rem;
    color: #667
}

.propiedad-card button {
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.propiedad-card button:hover {
    background-color: #000000;
}

