* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Eras Serif ITC', sans-serif;
}

body {
    line-height: 1.6;
}

header {
    box-shadow: 0 2px 5x rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2 rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;

}

#hero {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Portada 2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#propiedades {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#propiedades h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.propiedades-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem
}
.propiedad-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.propiedad-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
} 
.propiedad-card h3 {
    padding: 1rem;
    color: #333;
}

.descripcion {
    padding: .5rem 1rem;
    color: #667
}

.propiedad-card button {
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.propiedad-card button:hover {
    background-color: #000000;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
li {
    margin-bottom: 10px;
}
h2 {
    margin-top: 2rem;
}
h3 {
    margin-top: 1rem;
}
p {
    margin: 1rem 0;
}
a.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}
a.btn:hover {
    background-color: #000000;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}
footer a {
    color: #ffcc00;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer a:visited {
    color: #ffcc00;
}
footer a:active {
    color: #ff9900;
}

